.upper{
    text-transform: uppercase;
}

.homeImage img {
    width: 250px;
}
.homeContent{
    padding-block:100px ;
    background-color: #1abc9c;
}

.line{
    background-color: white;
    width: 80px;
    height: 4px;

}
.colorMain{
    color:#2c3e50
}
.mainColor {
    background-color: #2c3e50;
}
.overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #1abc9c;
    transition: 0.3s all;
}
.item:hover .overlay{
    opacity: 0.8;
}
.item{
    cursor: pointer;
}
.aboutContent{
        padding-block: 200px;
        background-color: #1abc9c;
}

.inLabel{
    color: #1abc9c;
}

.form-control:focus{
    box-shadow: none;
}
.p-100{
    padding-block: 100px;
}
.footer .icon {
        border: 1px white solid;
            border-radius: 50%;
            padding: 10px;
        }

.copyRight{
    background-color: rgb(26 37 47);
}